body{
    background-color: #F0DDBB;
}

h1{
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    background-color: #F3C686;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ChocolateCookie{
width: 300px;
height: auto;
object-fit: none;
object-position: left top;
border: 2px solid black;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}

#Cake{
width: 300px;
height: auto;
object-fit: none;
object-position: left top;
border: 2px solid black;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
}